@{
    ViewData["Title"] = "Home Page";
}

<h2>Welcome to OpsiGo Simple Github Explorer</h2>

<p>Start the app by exploring our repo list <a asp-action="repositories" asp-controller="github">here</a></p>